* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

.nav-bar {
    height: 85px;
    width: 100%;
    background-image: linear-gradient(-90deg, #2980B9, #6DD5FA, #FFF);
    position: fixed;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    top: 0;
}

.nav-list {
    height: 100px;
    width: 100%;
    list-style-type: none;
}

.list-item {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 27px auto;
}

.list-item a {
    margin-right: 20px; /* used for spacing between nav bar list items */
    margin-left: 20px;     
}

.logo {
    height: 70px;
    width: 80px;
    display: inline;
    margin: 7px 50% 0 70px;
}

.list-item a,
.logo {
    text-decoration: none;
    color: #FFF;
    float: left;
}

#one {
    margin-left: 50px;
}

#four a,
#five a {
    padding-bottom: 10px;
}

.nav-button {
   background-color: #FC393D; 
   border-radius: 50px;
   color: #FFF;
   padding: 10px 20px; /* for the rounded corners on the button */
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   font-weight: normal;
}

.nav-button:hover {
    background-color: #C12F3B;
}

.banner-img {
    width: 100%;
}

.banner-text {
    height: 100px;
    width: 400px; /* enlarged this to get "Welcome to Diolty on one line */
    color: #FFF;
    position: absolute;
    top: 32%;
    left: 35%;
    overflow: hidden;
    text-align: center;
    margin-top: 20px; /* used for pushing words in h1 down */
    /* text-shadow: greenyellow 6px 6px; */
    /* box-shadow: greenyellow 6px 6px; */
}

.banner-text h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    width: 100%;
    font-weight: normal;
}

.main-section {
    height: 500px;
    width: 100%;
    position: relative;
    /* top: 1100px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.col {
    height: 500px;
    width: 48%;
    /*border: 3px solid black;*/
    float: left;
    margin-left: 30px;
    /* text-align: center; */
}

.index-img img {
    height: 500px;
    width: 100%;
}

/* end of home styles */

.social, 
.copy {
    float: left;
    width: 30%;
    /* margin-left: 57px; */
    text-align: center;
}

.social {
    margin-top: 24px; 
    display: inline-block;
}

.copy {
    margin: 25px 50px;
}

.footer {
    height: 70px;
    width: 100%;
    position: relative;
    /* top: 1675px; */
    background-color: #F2F2F2; 
    /* background-color: rgba(242, 242, 242, .5); TRANSPARENT FOOTER*/
    border-top: 2px solid black;
}

.fa-envelope {
    color: #D44638;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-linkedin {
    color: #007BB5;
}

.fa-envelope,
.fa-twitter-square,
.fa-linkedin {
    font-size: 26px;
    padding-left: 35px;
}

/* end of footer styles */

.contact-container {
    height: 550px;
    width: 100%;
    margin-top: 108px;
}

.contact-col {
    float: left;
    margin-left: 90px;
}

.form {
    padding-top: 20px;
}

/* end of contact styles */

.about-container {
    height: 700px;
    width: 100%;
    /* margin-top: 150px;
    margin-bottom: 10px; */
    margin: 150px 0 10px 150px;
}

.columns {
    width: 24%;
    /* border: 3px solid #000; */
    float: left;
    padding: 25px 20px;
    margin-left: 20px;
    overflow: hidden;
    text-align: center;
}

.col-img {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

.audio-col {
    display: block;
    margin: auto;
    padding-top: 120px; /* distance from the top of the audio div */
}

.audio-col-h2 {
    padding-top: 139px;
}

.audio-col-h2 h2 {
    text-align: center;
}

.col-video {
    display: block;
    width: 300px; /* shortened to make the video fit in the column */
    padding: 10px;
}